<?xml version='1.0' encoding='utf-8'?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="connection.url">jdbc:h2:/tmp/trading</property>
        <property name="connection.username">sa</property>
        <property name="connection.password"/>
        
        <property name="hibernate.default_schema">PUBLIC</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">100</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>

        <mapping class="net.achfrag.trading.crypto.bitfinex.entity.BitfinexOrder"/>
        <mapping class="net.achfrag.trading.crypto.bitfinex.entity.ExchangeOrder"/>
        <mapping class="net.achfrag.trading.crypto.bitfinex.entity.Trade"/>
        <mapping class="net.achfrag.crypto.bot.portfolio.PortfolioValue"/>

    </session-factory>

</hibernate-configuration>